.raleway-lig{
    font-weight: 300px;
}
.raleway-medium{
    font-weight: 500;
}
body{
    background: #000;
    color: #fff;
    text-align: center;

}
h1{
    text-align: center;
}
.section{
    background: #1E1A13;
    opacity: 0.98;
}
footer{
    background: #1E1A13;
    opacity: 0.94;

}
article{
    width: 100%;
    text-align: justify;
    align-self: center;
    display: inline;
}
article div{
    margin: 0px 30px;
}
article div p{
    text-align: left;
}
.a{
    width: 45%;
}    

.b {

    width: 45%;
}
h2{
    padding-bottom: 20;
}

.cambiardisplay{ 
    display: inline-block;
}

.vertical{
    vertical-align:middle;
}

img{
    width: 100%;
}
i{
    color: aqua;
}