.raleway-lig{
    font-weight: 300px;
}
.raleway-medium{
    font-weight: 500;
}
body{
    background: #000;
    color: #fff;

}
.section{
    background: #1E1A13;
    opacity: 0.98;
}
footer{
    background: #1E1A13;
    opacity: 0.94;

}
article{
    width: 100%;

}
.a{
    display: inline-block;
    width: 45%;

}
.b {
    display: inline-block;
    width: 45%;
    
}
img{
    width: 100%;
}